<!DOCTYPE html>
<html>
<head>
    <title>g7a</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "heading">

    </div>
    
    <div class="aff">
    <div style="grid-column: 1;">
        <h1 class="centrer" style="padding: 10%;">
            ARROWS
        </h1>
        <div class="container">

                <div class="svg-container top" onmousedown="callFunction(1)" onmouseup="callFunction(5)">
                    <img src="{{ url_for('static', filename='images/s1.svg') }}" alt="SVG 1">
                </div>
                <div class="svg-container left" onmousedown="callFunction(3)" onmouseup="callFunction(5)">
                    <img src="{{ url_for('static', filename='images/s3.svg') }}" alt="SVG 3">
                </div>
                <div class="svg-container right" onmousedown="callFunction(4)" onmouseup="callFunction(5)">
                    <img src="{{ url_for('static', filename='images/s4.svg') }}" alt="SVG 4">
                </div>
                <div class="svg-container bottom" onmousedown="callFunction(2)" onmouseup="callFunction(5)">
                    <img src="{{ url_for('static', filename='images/s2.svg') }}" alt="SVG 2">
                </div>
            
        </div>
    </div>  
            <div  class="aligner affj">
                <h1 class="centrer" style="padding-top: 10%;">
                    JOYSTICK
                </h1>
                <p class="centrer">
                    X: <span id="x_coordinate"> </span>
                    Y: <span id="y_coordinate"> </span>
                    Speed: <span id="speed"> </span> %
                    Angle: <span id="angle"> </span>
                </p>
                <canvas id="canvas" name="game"></canvas>

            </div>
                <script src="{{ url_for('static', filename='code copy.js') }}"></script>
            
        
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <div style="grid-column: 3;">
            <h1 class="centrer" style="padding: 10%;">
                MODE AUTO
            </h1>
            <button style="text-align: center;">AUTO</button>
        </div>
    </div>

    
            </body>
    
    
</body>
</html>
