<!DOCTYPE html>
<html>
    <head>
        <title>g7a</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/licorne.svg') }}" type="image/png">

    </head>
<body>
    
    <nav>
        <a href="Manuel" >Manuel</a>
        <a href="Auto" >Auto</a>
        <a href="Camera">Camera</a>
        
        <div class="animation start-home"></div>


        
    </nav>
    <div style="margin: auto; height: 650px; width: 600px;padding: 5%;">
    <img src="{{ url_for('static',filename ='images/7300_4_10.jpg') }}" style="height: 650px; width: 600px" >
   
    </div>
  
  

    
    


<script src="{{ url_for('static', filename='code copy.js') }}"></script>
            
        
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>